<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <center>
      <br><br><br>
      <form method="post">
         {% csrf_token %}
         <label for="usename">usename</label>
         <input type="text" name="username1">
         <br>
         <br>
         <label for="password">password</label>
         <input type="password" name="password1">
         <br>
         <br>
         <button type="submit">Submit</button>
      </form>
   </center>
</body>
</html>